<div class="sidebox widget">
    <h3 class="widget-title section-title">Tags</h3>
    <ul class="tag-list">
        <li><a href="#">Web</a></li>
        <li><a href="#">Photography</a></li>
        <li><a href="#">Illustation</a></li>
        <li><a href="#">Fun</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Inspiration</a></li>
        <li><a href="#">Tips</a></li>
        <li><a href="#">Manipulation</a></li>
        <li><a href="#">Graphic</a></li>
        <li><a href="#">Travel</a></li>
        <li><a href="#">Concept</a></li>
        <li><a href="#">WEB</a></li>
    </ul>
    <!-- /.tag-list -->

</div>
